@charset "utf-8";
/* CSS Document */
/* Created for Facebook Redesign */
/* Created by Alex Beck */

/* COLORS: 
Navy Blue - #3B5998 
Light Blue - #8B9DC3 
Grey - #F7F7F7 
White - #FFFFFF
*/
body {
	background-color: #F7F7F7;
	
}
header {
	width: 1200px;
	height: 125px;
	background-image: url("../images/logo.jpg"); /* Logo */
	margin-left: auto;
	margin-right: auto;
}
nav {
	width: 1200px;
	height: 50px;
	background-color: #8B9DC3;
	margin-left: auto;
	margin-right: auto;
}
main {
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #F7F7F7;
}
footer {
	width: 1200px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	background-color: #3B5998;
}
h1 {
	font-family: Impact;
	font-size: 32px;
	color: #000000;
	text-align: left;
}
h2 {
	font-family: Impact;
	font-size: 24px;
	color: #000000;
	text-align: left;
}
h3 {
	font-family: Impact;
	font-size: 18px;
	color: #000000;
	text-align: left;
}
p {
	font-family: Impact;
	font-size: 16px;
	color: #000000;
	text-align: left;
}
#navContent {
	width: 1200px;
	height: 50px;
	background-color: #8B9DC3;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#headerContent {
	width: 1200px;
	height: 125px;
}
#mainContent {
	width: 1200px;
	height: auto;
}
#footerContent {
	width: 1200px;
	height: 125px;
}
nav .link {
	font-size: 16px;
	color: #3B5998;
	
}
nav .link:active, nav .link:hover {
	font-weight: bold;
}
